//fonts

$mainfont: 'Open Sans', sans-serif;

//colors

$black: black;
$transparentblack: rgba(0, 0, 0, 0.514);
$transparentgrey: rgba(128, 128, 128, 0.514);
$bluerepo: #0969da;
$greyspan: rgba(128, 128, 128, 0.527);
$bluespan: rgba(127, 255, 212, 0.527);
