@import 'core/variables';
@import 'core/reset';
.App {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 1024px) {
    font-size: 16px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
  }
}
